<div>
    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="toggle-1" title="Filtrar">
          <ng-template ngbPanelContent>
            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
              <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                <div class="filter-col1 p-r-15 p-b-27">
                  <ul>
                    <li>
                      <p class="stext-102 cl3 p-t-23">
                        <b>Producto :</b>
                      </p>
                      <div class="size-304 respon6-next">
                        <div class="rs1-select2 bor8 bg0">
                          <select class="js-select2" name="time">
                            <option>Elija una Opcion</option>
                            <option>Juntas</option>
                            <option>Retenes MEYRO</option>
                            <option>Retenes SABO</option>
                            <option>Tornillos</option>
                            <option>Lubricantes</option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <p class="stext-102 cl3 p-t-23">
                        <b>Linea :</b>
                      </p>
                      <div class="size-304 respon6-next">
                        <div class="rs1-select2 bor8 bg0">
                          <select class="js-select2" name="time">
                            <option>Elija una Opcion</option>
                            <option>Pesada</option>
                            <option>Liviana</option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <p class="stext-102 cl3 p-t-23">
                        <b>Marca :</b>
                      </p>
                      <div class="size-304 respon6-next">
                        <div class="rs1-select2 bor8 bg0">
                          <select class="js-select2" name="time">
                            <option>Elija una Opcion</option>
                            <option>Tapa de cilindros </option>
                            <option>Múltiple de admisión y escape </option>
                            <option>Carter </option>
                            <option>Tapa de válvulas superior </option>
                            <option>Cuerpo bomba de agua </option>
                            <option>Bomba de agua a tapa cilindros </option>
                            <option>Tapa cámara de agua </option>
                            <option>Tapa cámara de agua </option>
                            <option>Termostato </option>
                            <option>Tapa inspección de agua a block </option>
                            <option>Salida de agua </option>
                            <option>O´ring caño bomba de agua </option>
                            <option>Tapa block lado de distribución </option>
                            <option>Entrecuerpo bomba de agua </option>
                            <option>Entrecuerpo (DUNA - FIORUNO) </option>
                            <option>Tapa tubo llenado de aceite </option>
                            <option>Base filtro de aceite </option>
                            <option>Aspirador bomba de aceite </option>
                            <option>Tapa árbol de levas </option>
                            <option>Tapa soporte árbol de levas </option>
                            <option>Placa portareten bancada trasera </option>
                            <option>Tapa de distribución </option>
                            <option>Soporte bomba inyectora </option>
                            <option>Cuerpo bomba depresora </option>
                            <option>O´ring depresora Ø 40 x 2,62mm </option>
                            <option>O´ring depresora Ø 5,3 x 1,78mm </option>
                            <option>Juntas bridas “cortas” </option>
                            <option>Juntas bridas “largas” </option>
                            <option>Arandela caño de combustible </option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
      
                <div class="filter-col2 p-r-15 p-b-27">
                  <ul>
                    <li>
                      <p class="stext-102 cl3 p-t-23">
                        <b>Combustible :</b>
                      </p>
                      <div class="size-304 respon6-next">
                        <div class="rs1-select2 bor8 bg0">
                          <select class="js-select2" name="time">
                            <option>Elija una Opcion</option>
                            <option>Chevrolett</option>
                            <option>Fiat</option>
                            <option>Ford</option>
                            <option>Peugeot</option>
                            <option>Renault</option>
                            <option>Volkswagen</option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <p class="stext-102 cl3 p-t-23">
                        <b>Motor :</b>
                      </p>
                      <div class="size-304 respon6-next">
                        <div class="rs1-select2 bor8 bg0">
                          <select class="js-select2" name="time">
                            <option>Fire 1.6</option>
                            <option>Tipo 1.4</option>
                            <option>TU3JP - SOHC</option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <p class="stext-102 cl3 p-t-23">
                        <b>Modelo :</b>
                      </p>
                      <div class="size-304 respon6-next">
                        <div class="rs1-select2 bor8 bg0">
                          <select class="js-select2" name="time">
                            <option>Elija una Opcion</option>
                            <option>Uno </option>
                            <option>Duna </option>
                            <option>Palio </option>
                            <option>Siena </option>
                            <option>147 </option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
      
                <div class="filter-col3 p-r-15 p-b-27">
                  <ul>
                    <li>
                      <p class="stext-102 cl3 p-t-23">
                        <b>Cilindrada :</b>
                      </p>
                      <div class="size-304 respon6-next">
                        <div class="rs1-select2 bor8 bg0">
                          <select class="js-select2" name="time">
                            <option>Elija una Opcion</option>
                            <option>Juntas</option>
                            <option>Retenes MEYRO</option>
                            <option>Retenes SABO</option>
                            <option>Tornillos</option>
                            <option>Lubricantes</option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <p class="stext-102 cl3 p-t-23">
                        <b>Nº de Valvulas :</b>
                      </p>
                      <div class="size-304 respon6-next">
                        <div class="rs1-select2 bor8 bg0">
                          <select class="js-select2" name="time">
                            <option>Elija una Opcion</option>
                            <option>Nafta</option>
                            <option>Gas Oil</option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <p class="stext-102 cl3 p-t-23">
                        <b>Tipo de Junta :</b>
                      </p>
                      <div class="size-304 respon6-next">
                        <div class="rs1-select2 bor8 bg0">
                          <select class="js-select2" name="time">
                            <option>Elija una Opcion</option>
                            <option>8v </option>
                            <option>16v </option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
      
                <div class="filter-col4 p-b-27">
                  <div class="mtext-102 cl2 p-b-15">
                    &nbsp;
                  </div>
      
                  <div class="flex-w p-t-4 m-r--5">
                    <ul>
                      <li>
                        <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                          Buscar
                        </a>
      
                        <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                          Limpiar
                        </a>
                      </li>
      
                      <li>
                        <div class="mtext-102 cl2 p-b-15">
                          &nbsp;<br>
                          Ordenar por :
                        </div>
                        <div class="flex-w p-t-4 m-r--5">
                          <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                            Motor
                          </a>
      
                          <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                            Modelo
                          </a>
      
                          <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                            Cilindrada
                          </a>
      
                          <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                            Codigo MEYRO
                          </a>
                        </div>
                      </li>
      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Buscar</button>
            <button class="btn btn-sm btn-outline-primary mr-2">Limpiar</button>
      
      
          </ng-template>
      
        </ngb-panel>
      </ngb-accordion>
</div>