<div class="container-fluid bg-3 text-center">
  <br>
  <div class="row">
    <div class="col-sm-4" *ngFor="let art of allItems">
      <mat-card class="example-card">
        <mat-card-header class="card-header">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><strong>{{ art.producto }}</strong></mat-card-title>
          <mat-card-subtitle><strong>{{ art.aplicacion }}</strong></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table class="table-responsive table-bordered">
            <thead>
              <tr>
                <th colspan="4">Marca y Modelo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="4">
                  <b>{{ art.marca }} :</b> {{ art.modelo }}
                </td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th>cm3</th>
                <th colspan="3">Motor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{ art.cilindrada }}
                </td>
                <td colspan="3">
                  {{ art.motor }}
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <!-- <img src= '{{ art.img_peq_url }}'   alt="" srcset="">  -->
                  <img src= '{{ art.img_peq_url }}' alt="" srcset="">
                </td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th nowrap>Codigo Meyro</th>
                <th nowrap>Precio de Lista</th>
                <th nowrap>Precio de Venta</th>
                <th nowrap>Stock</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> {{ art.id }} </td>
                <td> {{ art.precio_lista }} </td>
                <td> {{ art.stock }} </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>

        <mat-card-actions class="matCard">
          <button type="button" class="btn btn-outline-danger" (click)="cambiarVista(art)" >Relacionados</button>&nbsp;
          <button type="button" class="btn btn-outline-danger" (click)="cambiarVista(art)" >Inf. Técnica</button>&nbsp;
          <button type="button" class="btn btn-outline-danger" (click)="cambiarVista(art)" >Ir a Carrito</button>&nbsp;<br><br>
          <button type="button" class="btn btn-outline-danger" >Cantidad: <input type="number" class="inputCantidad" value="{{ art.pack_venta }}">  </button>&nbsp;
          <button type="button" class="btn btn-outline-danger" (click)="traeCreaAbierto()"><i class="fas fa-cart-plus"></i></button>
        </mat-card-actions>
      </mat-card>
      <br>
    </div>
  </div>
</div>