<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <ul>
          <li>
            <h5 class="text-uppercase">
              <strong>¿DÓNDE ESTAMOS?</strong>
            </h5>
          </li>
          <li class="p-b-10">
            <p class="stext-107 cl7 trans-04">
              Jose Ingenieros 2215 (1852)
            </p>
          </li>

          <li class="p-b-10">
            <p class="stext-107 cl7 trans-04">
              Parque Industrial Almirante Brown
            </p>
          </li>

          <li class="p-b-10">
            <p class="stext-107 cl7 trans-04">
              Burzaco, Pcia. de Buenos Aires
            </p>
          </li>

          <li class="p-b-10">
            <p class="stext-107 cl7 trans-04">
              Argentina
            </p>
          </li>
          <li>
            <a href="https://www.google.com.bd/maps/place/Juntas+Meyro/@-34.8473789,-58.423276,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcd4a2be40c323:0xb3a958d1f537dd0e!8m2!3d-34.8473833!4d-58.4210873?hl=en"
              target="_blank">
              <button type="button" class="btn btn-danger">Ver Mapa</button>
            </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5><strong>Secciones</strong></h5>

        <ul class="list-unstyled" style="list-style-type:disc">
          <li>
            <a href="#!">Catalogo</a>
          </li>
          <li>
            <a href="#!">Dto. Técnico</a>
          </li>
          <li>
            <a href="#!">Productos</a>
          </li>
          <li>
            <a href="#!">Nosotros</a>
          </li>
          <li>
            <a href="#!">Novedades</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5><strong>Contacto</strong></h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-phone"></i> &nbsp;
              (54 11) 4238-8215 (rotativas)
            </p>
          </li>
          <li>
            <p>
              <i class="far fa-envelope"></i>&nbsp;
              ventas@juntasmeyro.com.ar
            </p>
          </li>
          <li>
            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-facebook fa-lg"></i>&nbsp;
            </a>

            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-twitter fa-lg"></i>&nbsp;

            </a>

            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-youtube fa-lg"></i>&nbsp;
            </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->