<div class="bgd">

    <br>

    <div class="filtro" *ngIf="show">
        <p>
            <button type="button" class="btn btn-outline-danger" (click)="colapsar1()" [attr.aria-expanded]="isCollapsed" aria-controls="collapseExample">
       
        <i class="fas fa-check-double"></i>
      <strong>Filtrar &nbsp; </strong>
      </button> &nbsp;

            <button type="button" class="btn btn-outline-danger" (click)="colapsar2()" [attr.aria-expanded]="isCollapsed2" aria-controls="collapseExample2">
       
        <i class="fas fa-search"></i>
        por Codigo MEYRO
        
      </button> &nbsp;

            <button type="button" class="btn btn-outline-danger" (click)="colapsar3()" [attr.aria-expanded]="isCollapsed3" aria-controls="collapseExample3">
        
        <i class="fas fa-search"></i>
        Busqueda Libre
        
      </button> &nbsp;

            <button type="button" class="btn btn-outline-danger" (click)="colapsar3()" [attr.aria-expanded]="isCollapsed3" aria-controls="collapseExample3" routerLink="/carrito">

        <i class="fas fa-cart-plus"></i>
        Ir a Carrito

      </button>
        </p>

        <div id="collapseExample2" [ngbCollapse]="isCollapsed2">
            <div class="card">
                <div class="card-body">
                    <input type="text" placeholder="Ejemplo: 01-2000 S">&nbsp;
                    <button type="button" class="btn btn-outline-danger">BUSCAR</button>&nbsp;
                    <button type="button" class="btn btn-outline-danger" (click)="isCollapsed2 = !isCollapsed2">Cerrar Menu</button>
                </div>
            </div>
        </div>

        <div id="collapseExample3" [ngbCollapse]="isCollapsed3">
            <div class="card">
                <div class="card-body">
                    <input type="text" placeholder="Marca, Modelo, Motor, Cilindrada...">&nbsp;
                    <button type="button" class="btn btn-outline-danger">BUSCAR</button>&nbsp;
                    <button type="button" class="btn btn-outline-danger" (click)="isCollapsed3 = !isCollapsed3">Cerrar Menu</button>
                </div>
            </div>
        </div>

        <div id="collapseExample" [ngbCollapse]="isCollapsed">
            <div class="card">
                <div class="card-body">
                    <form #f="ngForm" name="f" (change)="Filtrar()">
                        <div class="row">
                            <div class="col-sm-3">
                                <!--  ////////////////////////////columna 1 ////////////////////////////////////////////////////////-->
                                <ul>
                                    <li>
                                        <strong><b>Linea Liviana / Pesada :</b></strong>
                                        <div>
                                            <select [(ngModel)]="id_linea" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled>Selecione la Linea</option>
                        <option *ngFor="let art of columnaLinea">
                          {{ art | traeLinea  }}
                        </option>
                      </select>
                                        </div>
                                    </li>
                                    <li>
                                        <strong><b>Marca :</b></strong>
                                        <div>
                                            <select [(ngModel)]="id_marca" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled>Selecione la Marca</option>
                        <option *ngFor="let art of columnaMarca">
                          {{ art | traeMarca }}
                        </option>
                      </select>
                                        </div>
                                    </li>
                                    <li>
                                        <strong><b>Combustible :</b></strong>
                                        <div>
                                            <select [(ngModel)]="id_combustible" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled>Selecione el Combustible</option>
                        <option *ngFor="let art of columnaComb">
                          {{ art | traeComb }}
                        </option>
                      </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <!--  ////////////////////////////columna 2 ////////////////////////////////////////////////////////-->
                                <ul>
                                    <li>
                                        <strong><b>Motor :</b></strong>
                                        <div>
                                            <select [(ngModel)]="motor" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled>Selecione el Motor</option>
                        <option *ngFor="let art of columnaMotor">
                          {{ art }}
                        </option>
                      </select>
                                        </div>
                                    </li>
                                    <li>
                                        <strong><b>Modelo :</b></strong>
                                        <div>
                                            <select [(ngModel)]="modelo" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled>Selecione el Modelo</option>
                        <option *ngFor="let art of columnaModelo">
                          {{ art }}
                        </option>
                      </select>
                                        </div>
                                    </li>
                                    <li>
                                        <strong><b>Cilindrada :</b></strong>
                                        <div>
                                            <select [(ngModel)]="cilindrada" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled>Selecione la Cilindrada</option>
                        <option *ngFor="let art of columnaCilind">
                          {{ art }}
                        </option>
                      </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <!--  ////////////////////////////columna 3 ////////////////////////////////////////////////////////-->
                                <ul>
                                    <li>
                                        <strong><b>Estandard / Competicion :</b></strong>
                                        <div>
                                            <select [(ngModel)]="competicion" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled>Selecione Estandard / Competicion </option>
                        <option *ngFor="let art of columnaStd">
                          {{ art }}
                        </option>
                      </select>
                                        </div>
                                    </li>
                                    <li>
                                        <strong>Producto :</strong>
                                        <div>
                                            <select [(ngModel)]="id_producto" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled>Selecione el Producto</option>
                        <option *ngFor="let art of columnaProd">
                          {{ art  | traeProd }}
                        </option>
                      </select>
                                        </div>
                                    </li>
                                    <li>
                                        <strong><b>Aplicación :</b></strong>
                                        <div>
                                            <select [(ngModel)]="id_aplicacion" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled>Selecione la Aplicacion</option>
                        <option *ngFor="let art of columnaApp">
                          {{ art  | traeApp }}
                        </option>
                      </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <!--  ////////////////////////////columna 4 ////////////////////////////////////////////////////////-->
                                <ul>
                                    <div class="botones">
                                        <li>
                                            <strong>
                        <p>Ordenar por : </p>
                      </strong>
                                        </li>
                                        <li>
                                            <button class="btn btn-sm btn-outline-danger mr-2">Motor</button>
                                            <button class="btn btn-sm btn-outline-danger mr-2">Modelo</button>
                                        </li><br>
                                        <li>
                                            <button class="btn btn-sm btn-outline-danger mr-2">Cilindrada</button>
                                            <button class="btn btn-sm btn-outline-danger mr-2">Codigo Meyro</button>
                                        </li>
                                        <hr>
                                        <li>
                                            <button class="btn btn-sm btn-outline-danger mr-2" (click)="Limpiar()">Limpiar Filtros</button>
                                            <button class="btn btn-sm btn-outline-danger mr-2" (click)="isCollapsed = !isCollapsed">Cerrar
                        Menu</button>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <app-catalogo [allItems]='filtroItems' (showValue)="cambiaVista()" *ngIf="show"></app-catalogo>

    <app-detalle (showValue)="cambiaVista()" *ngIf="!show"></app-detalle>

</div>