<div class="row">
  <div class="col-sm-2">
    <h2 class="text-left">Registro de clientes</h2>
  </div>
  <div class="col-sm-5">
    <div>
      <form action="/action_page.php">
        <label for="fname">Razon Social</label>
        <input type="text" id="nombre" name="nombre" placeholder="Ingresar nombre..">

        <label for="fname">Nombre del Negocio</label>
        <input type="text" id="nombre" name="nombre" placeholder="Ingresar nombre..">

        <label for="lname">E-mail</label>
        <input type="text" id="lname" name="lastname" placeholder="Ingresar e-mail..">
      </form>
    </div>
  </div>
  <div class="col-sm-5">
      <div>
        <form action="/action_page.php">
          <label for="fname">CUIT</label>
          <input type="text" id="nombre" name="nombre" placeholder="Ingresar nombre..">
  
          <label for="fname">Responsable de Compras</label>
          <input type="text" id="nombre" name="nombre" placeholder="Ingresar nombre..">
  
          <label for="lname">Clave</label>
          <input type="text" id="lname" name="lastname" placeholder="Ingresar e-mail..">

          <input type="submit" value="Crear Cuenta">

        </form>
      </div>
    </div>
</div>


