<div class="back">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          Secciones
        </h4>
  
        <ul>
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              Catalogo
            </a>
          </li>
  
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              Dto. Técnico
            </a>
          </li>
  
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              Nosotros
            </a>
          </li>
  
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              Contacto
            </a>
          </li>
        </ul>
      </div>
  
      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          Clientes
        </h4>
  
        <ul>
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              Comprar
            </a>
          </li>
  
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              Lista de Precios
            </a>
          </li>
  
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              Pedidos
            </a>
          </li>
  
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              Preguntas
            </a>
          </li>
        </ul>
      </div>
  
      <div class="col-sm-6 col-lg-3 p-b-10">
        <h4 class="stext-301 cl0 p-b-30">
          ¿DÓNDE ESTAMOS?
        </h4>
        <ul>
          <li class="p-b-10">
            <p class="stext-107 cl7 trans-04">
              Jose Ingenieros 2215 (1852)
            </p>
          </li>
  
          <li class="p-b-10">
            <p class="stext-107 cl7 trans-04">
              Parque Industrial Almirante Brown
            </p>
          </li>
  
          <li class="p-b-10">
            <p class="stext-107 cl7 trans-04">
              Burzaco, Pcia. de Buenos Aires
            </p>
          </li>
  
          <li class="p-b-10">
            <p class="stext-107 cl7 trans-04">
              Argentina
            </p>
          </li>
        </ul>
        <br>
        <a href="https://www.google.com.bd/maps/place/Juntas+Meyro/@-34.8473789,-58.423276,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcd4a2be40c323:0xb3a958d1f537dd0e!8m2!3d-34.8473833!4d-58.4210873?hl=en"
          target="_blank">
          <button class="flex-c-m stext-40 cl0 size-44 bg10 bor1 hov-btn2 p-lr-15 trans-04">Ver Mapa</button>
        </a>
      </div>
  
      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          Contacto
        </h4>
  
        <ul>
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              <i class="fa fa-phone"></i> &nbsp;(54 11) 4238-8215 <br> (líneas rotativas)<br>
            </a>
          </li>
  
          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              <i class="fa fa-envelope"></i> &nbsp;ventas@juntasmeyro.com.ar<br>
            </a>
          </li>
        </ul>
  
        <div class="p-t-27">
          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-facebook"></i>
          </a>
  
          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-twitter"></i>
          </a>
  
          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-linkedin"></i>
          </a>
  
          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>