<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid footer">
  <h2 class="text-left">Formulario de contacto</h2>
  <div class="row">
    <div class="col-sm-5">
      <p><span class="glyphicon glyphicon-map-marker"></span> Dto. Ventas</p>
      <p><span class="glyphicon glyphicon-phone"></span> 54 911 4238-8215 </p>
      <p><span class="glyphicon glyphicon-envelope"></span> ventas@juntasmeyro.com.ar</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="telefono" name="telefono" placeholder="Telefono (opcional)" type="text">
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Mensaje" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button pButton type="button" label="Enviar" class="ui-button-raised ui-button-danger"></button>
        </div>
      </div>
    </div>
  </div>
</div>