<div class="col-sm-12 banner">
  <h1>Blog</h1>
</div>

<div class="w3-light-grey">
  <!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1400px">

    <!-- Grid -->
    <div class="w3-row">

      <!-- Blog entries -->
      <div class="w3-col l8 s12">

        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">

          <img src="../../../../assets/dto-tecnico/blog-01.jpg" alt="junta" style="width:100%">

          <div class="w3-container">
            <h3><b> ¿ DE QUÉ ES EL MATERIAL “LIBRE DE AMIANTO” ? </b></h3>
          </div>

          <div class="w3-container">
            <p>
              El material base de la junta es un compuesto de fibras aramídicas (Kevlar) que le otorga gran resistencia
              a
              la temperatura
              y tenacidad al material, mezcladas con fibras especiales de celulosa y cargas minerales como por ejemplo:
              grafito,
              sílice, etc.Todo este compuesto está aglutinado con cauchos sintético resistente al ataque del
              aceite,combustibles
              y líquidos refrigerantes del motor.Este material importado de EE.UU. para la fabricación de juntas, están
              elaborados
              de origen 100% LIBRES DE AMIANTO y 100% LIBRES DE SOLVENTES, cumpliendo con las normas ambientales
              ISO-14000 y de
              calidad ISO-9001 y QS-9000
            </p>
            <div class="w3-row">
              <div class="w3-col m8 s12">
                <p><button class="w3-button w3-padding-large w3-white w3-border"><b>Leer Mas »</b></button></p>
              </div>

            </div>
          </div>
        </div>
        <hr>


        <!-- END BLOG ENTRIES -->
      </div>

      <!-- Introduction menu -->
      <div class="w3-col l4">

        <!-- About Card -->
        <div class="w3-card w3-margin w3-margin-top">
          <img src="../../../../assets/dto-tecnico/blog-banner-02.jpg" style="width:100%">
          <div class="w3-container w3-white">
            <h4><b>Departamento Técnico</b></h4>
            <p>
              En nuestro laboratorio realizamos diariamente controles de materia prima según métodos
              de ensayo especificados en las normas internacionales ASTM, trabajamos en equipo con
              nuestros proveedores para asegurar el cumplimiento de las
              especificaciones de la materia prima.<br>

              Nuestro laboratorio se traslada al pie de cada máquina para realizar controles de calidad,
              analizar y medir las variables críticas del producto en proceso.<br>

              Nuestro Departamento Técnico desarrolla cada producto siguiendo los stándares internacionales de calidad
              teniendo en cuenta las exigencias y necesidades locales.<br>

              En nuestra empresa es fundamental la comunicación con cada eslabón del proceso, por eso contamos con un
              Departamento Técnico permanentemente en contacto con los usuarios respondiendo consultas sobre nuestro
              producto, tanto de montaje como de especificación técnica.<br><br>

              Ante cualquier consulta o sugerencia, no dude en comunicarse a nuestro dto. Técnico <br><br>

              <b>T (54 11) 4238-8215 int 121</b> <br>
              <b>dtecnico@juntasmeyro.com.ar</b> <br>
            </p>
          </div>
        </div>

        <hr>

        <div class="w3-card w3-margin">
          <div class="w3-container w3-padding">
            <h4>Buscar Publicacion</h4>

            <div class="w3-padding-16">
                <input id="typeahead-basic" type="text" class="form-control" />
              </div>

          </div>
        </div>

        <hr>

        <!-- Posts -->
        <div class="w3-card w3-margin">
          <div class="w3-container w3-padding">
            <h4>Publicaciones Populares</h4>
          </div>
          <ul class="w3-ul w3-hoverable w3-white">

            <li class="w3-padding-16">
              <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Lorem</span><br>
              <span>Sed mattis nunc</span>
            </li>
            <li class="w3-padding-16">
              <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Ipsum</span><br>
              <span>Praes tinci sed</span>
            </li>
            <li class="w3-padding-16">
              <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Dorum</span><br>
              <span>Ultricies congue</span>
            </li>
            <li class="w3-padding-16 w3-hide-medium w3-hide-small">
              <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Mingsum</span><br>
              <span>Lorem ipsum dipsum</span>
            </li>

          </ul>
        </div>

        <hr>

        <!-- Labels / tags -->
        <div class="w3-card w3-margin">
          <div class="w3-container w3-padding">
            <h4>Tags</h4>
          </div>
          <div class="w3-container w3-white">
            <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New
                York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
            </p>
          </div>
        </div>

        <!-- END Introduction Menu -->
      </div>

      <!-- END GRID -->
    </div><br>

    <!-- END w3-content -->
  </div>
</div>