<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalle</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
<!--  //////////////////////////////////////////////////////////////////// -->
<div class="modal-body">

<ngb-carousel >

    <ng-template ngbSlide>
        <img src="../../../../../assets/juntas_grandes/01-2870_web.jpg" class="responsive" alt="">
    </ng-template>
    <ng-template ngbSlide>
        <img src="../../../../../assets/juntas_grandes/05-3180_web.jpg" class="responsive" alt="">

    </ng-template>
    <ng-template ngbSlide>
        <img src="../../../../../assets/juntas_grandes/06-2900_web.jpg" class="responsive" alt="">
    </ng-template>

  </ngb-carousel>

</div>
<!--  //////////////////////////////////////////////////////////////////// -->

</ng-template>

<button class="btn btn-lg btn-outline-danger" (click)="open(content)">Agrandar Imagen</button>

