<div class="bgd">
  <h4>PEDIDO NUMERO W0001 </h4>

  <label for="">Fecha : 27/12/2018</label>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <strong>Cliente : </strong>
      <p> 40-040 Autopiezas Salamanca</p>
    </div>

    <div class="col-sm-3">
      <strong><b>Direccion de Entrega :</b></strong>
      <select [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}">
        <option value="" disabled>Selecione la Sucursal</option>
        <option>
          <!-- OPCIONES {{ }}  --> Casa Central: Salta 600 (1925 ) Gerli - Buenos Aires
        </option>
      </select>
    </div>

    <div class="col-sm-3">
      <strong><b>Medio de Envío :</b></strong>
      <select [(ngModel)]="expreso" [ngModelOptions]="{standalone: true}">
        <option value="" disabled>Selecione el Expreso </option>
        <option>
          <!-- OPCIONES {{ }}  --> Directo de MEYRO
        </option>
      </select>
    </div>

    <div class="col-sm-3">
      <button type="button" class="btn btn-success">Enviar Pedido</button><br>
      <button type="button" class="btn btn-primary">Bajar Excel</button>
      <button type="button" class="btn btn-primary">Bajar PDF</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <div>
        <table class="table-responsive table-bordered">
          <thead>
            <tr>
              <th nowrap class="cant">Cantidad</th>
              <th>Codigo</th>
              <th nowrap>Descripción</th>
              <th nowrap>Stock</th>
              <th nowrap>P.Lista</th>
              <th nowrap>Dto.</th>
              <th nowrap>P.Neto</th>
              <th nowrap>Subtotal</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td nowrap class="cent"> <input class="inputCant" type="number" name="Cantidad" id=""> </td>
              <td class="cent"> 01-2000 S</td>
              <td nowrap class="izq"> Fiat 600 - 600s - 600 r - 600cc</td>
              <td nowrap class="cent"> ··· </td>
              <td nowrap class="der"> $ 165.46</td>
              <td nowrap class="der"> 20+15+10%</td>
              <td nowrap class="der"> $ 89.35</td>
              <td nowrap class="der"> $ 446.75 </td>
              <td class="cent"> <button type="button" class="btn btn-danger">Quitar</button> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-3">
      <table class="table-responsive table-bordered">
        <thead>
          <tr>
            <th>Detalle</th>
            <th>Importe</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Subtotal: </td>
            <td>$ 1200.00</td>
          </tr>
          <tr>
            <td>Dtos 20+10+15+10: </td>
            <td>$ 200.00</td>
          </tr>
          <tr>
            <td>Total NETO SIN IVA: </td>
            <td>$ 1000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div class="col-sm-12">
    <textarea placeholder="Observaciones..." name="message"></textarea>
  </div>
</div>