<div class="row">
  <div class="col-sm-2">
    <h2 class="text-left">Panel de Control</h2>
  </div>
  <div class="col-sm-5">
    <div>
      <form #formProducto="ngForm" id="form-producto1">
        <button routerLink="/loginUsr">Login Usuario</button>
        <button routerLink="/registro">Gestion de Clientes</button>
        <button routerLink="/registro">Gestion de Noticias</button>
      </form>
    </div>
  </div>
  <div class="col-sm-5">
      <div>
        <form form #formProducto="ngForm" (ngSubmit)="onSubmit()" id="form-producto2">
            <button routerLink="/registro">Gestion de Usuarios</button>
            <button routerLink="/registro">Gestion de Expresos</button>
            <button routerLink="/registro">Gestion de Blog dto Tecnico</button>

        </form>
      </div>
    </div>
</div>