<app-pre-nav></app-pre-nav>
<!-- nav bar bootstrap -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top">

  <a class="navbar-brand myLogo img-responsive" routerLink="/home" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <img src="../../../../assets/logo_meyro/logo.png" />
  </a>

  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" (click)="isNavbarCollapsed = !isNavbarCollapsed" class="collapse navbar-collapse"
    id="navbarsDefault">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link" routerLink="/home"> <i class="fas fa-home"></i> Inicio</a>
      </li>

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link" routerLink="/catalogo">Catalogo</a>
      </li>

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle " id="id01" ngbDropdownToggle>Dto. Técnico</a>
        <div class="dropdown-content dropdown-menu-left" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/blog">Blog de Preguntas Frecuentes</a>
          <a class="dropdown-item" href="#">Info. Apriete Tapa de Cilindros</a>
          <a class="dropdown-item" href="#">Retenes de Aceitede Motor</a>
          <a class="dropdown-item" href="#">Bulones Para Tapa de Cilindros</a>
        </div>
      </li>

      <li class="nav-item dropdown" ngbDropdown >
        <a class="nav-link dropdown-toggle" id="id02" ngbDropdownToggle>Nosotros</a>
        <div class="dropdown-content dropdown-menu-left" aria-labelledby="id02" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Nuestra Historia</a>
          <a class="dropdown-item" href="#">Politicas y Certificaciones</a>
          <a class="dropdown-item" href="#">Planta y Tecnologia</a>
        </div>
      </li>

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link" routerLink="/contact" id="id03">Contacto</a>
      </li>

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link" routerLink="/contact" id="id03">Ayuda</a>
      </li>

    </ul>

    <div *ngIf='!identity'>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link" routerLink="/registro"> <i class="fas fa-user-plus"></i> Registrate</a>
        </li>

        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link" routerLink="/login"> <i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
      </ul>
    </div>

    <div *ngIf='identity'>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link" routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
        </li>

        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="id10" ngbDropdownToggle> {{ identity.razonSocial }}</a>
          <div class="dropdown-content dropdown-menu-right" aria-labelledby="id10" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="/misDatos">Mis Datos</a>
            <a class="dropdown-item" routerLink="/carrito" id="id03">Carrito</a>
            <a class="dropdown-item" routerLink="/pedidos" id="id03">Pedidos</a>
            <a class="dropdown-item" (click)="logout()" routerLink="/home">Cerrar Sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>