<div class="bgd">

  <app-filtro></app-filtro>
    <div class="container-fluid bg-3 text-center">
        <br><br>
      <div class="row">
  
        <div class="col-sm-4">
          <app-card></app-card>
        </div>
  
        <div class="col-sm-4">
            <app-card></app-card>
        </div>
  
        <div class="col-sm-4">
            <app-card></app-card>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
            <app-card></app-card>
          </div>
  
        <div class="col-sm-4">
            <app-card></app-card>
        </div>
  
        <div class="col-sm-4">
            <app-card></app-card>
        </div>
      </div>
      <br><br>
    </div>
  </div>