<div class="bgd">
  <h4>HISTORIAL DE PEDIDOS </h4>

  <div class="row">
    <div class="col-sm-9">
      <div>
        <table class="table-responsive table-bordered">
          <thead>
            <tr>
              <th >Fecha</th>
              <th nowrap>Nro de Pedido</th>
              <th nowrap>Codigo Cliente</th>
              <th nowrap>Sucursal</th>
              <th nowrap>Expreso</th>
              <th nowrap>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td >Fecha</td>
              <td nowrap>Nro de Pedido</td>
              <td nowrap>Codigo Cliente</td>
              <td nowrap>Sucursal</td>
              <td nowrap>Expreso</td>
              <td nowrap>Estado</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <hr>

  <div class="col-sm-12">
    <textarea placeholder="Observaciones..." name="message"></textarea>
  </div>
</div>