<div class="bgd">
  <h4>HISTORIAL DE PEDIDOS </h4>

  <div class="row">
    <div class="col-sm-9">
      <div>
        <table class="table-responsive table-bordered">
          <thead>
            <tr>
              <th >Fecha</th>
              <th nowrap>Nro de Pedido</th>
              <th nowrap>Codigo Cliente</th>
              <th nowrap>Sucursal</th>
              <th nowrap>Expreso</th>
              <th nowrap>Estado</th>
              <th >Detalle</th>
            </tr>
          </thead>
          <tbody  *ngFor="let pedido of allPedidos">
            <tr>
              <td >{{ pedido.fecha }}</td>
              <td nowrap>{{ pedido.id_pedido }}</td>
              <td nowrap>{{ pedido.id_cliente }}</td>
              <td nowrap>{{ pedido.id_sucursal }}</td>
              <td nowrap>{{ pedido.id_expreso }}</td>
              <td nowrap>{{ pedido.estado }}</td>
              <td nowrap><button type="button" class="btn btn-danger">Ver Detalle</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <hr>

  <div class="col-sm-12">
    <textarea placeholder="Observaciones..." name="message"></textarea>
  </div>
</div>