<div class="container-fluid bg-3 text-center">
    <br>
    <div class="row">
        <div class="col-sm-4" *ngFor="let item of allItems">
            <mat-card class="example-card">
                <mat-card-header class="card-header">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>
                        <strong>
                            {{ item.id_producto | traeProd }}
                        </strong>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <strong>
                            {{ item.id_aplicacion | traeApp }}
                        </strong>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <table class="table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4">Marca y Modelo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <b>{{ item.id_marca | traeMarca }} :</b> {{ item.modelo }}
                                </td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>cm3</th>
                                <th colspan="3">Motor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{ item.cilindrada }}
                                </td>
                                <td colspan="3">
                                    {{ item.motor }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <img src={{traeUrlImgArt(item.id_articulo)}} alt="" srcset="" class="img-responsive">
                                    <app-carousel-detail [art]='item'></app-carousel-detail>
                                </td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th nowrap>Codigo Meyro</th>
                                <th nowrap>Precio de Lista</th>
                                <th nowrap>Precio de Venta</th>
                                <th nowrap>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b> {{ item.id_articulo }} </b></td>
                                <td> {{ traerArt(item) }} </td>
                                <td> {{ traerArt(item) * 1.3 }} </td>
                                <!-- | number: '1.2-2':'fr' -->
                                <td> {{ articulo.stock }} </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
                
                <hr>
                
                <app-boton-comprar [id_articulo]='item.id_articulo' ></app-boton-comprar>
                
            </mat-card>
            <br>
        </div>
    </div>
</div>